<h1>Create Movie</h1>

<form #form="ngForm" (ngSubmit)="createMovie(form)">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input required minlength="5" #title="ngModel" (change)="log(title)" type="text" [(ngModel)]="model.title" name="title" class="form-control" placeholder="">
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" [(ngModel)]="model.description" name="description"></textarea>
    </div>

    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" class="form-control" [(ngModel)]="model.imageUrl" name="imgUrl" placeholder="">
    </div>

    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <select [(ngModel)]="model.categoryId" class="form-select" name="categoryId">
            <option value="-1">Select</option>
            <option *ngFor="let item of categories" [value]="item.id">{{item.name | titlecase}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" >Create Movie</button>

</form>